@import "tailwindcss";

:root {
  --color-tfl-blue: #172838;
  --color-tfl-red: #e82128;
  --color-tfl-grey: #8A8A8A;
  --background: #ffffff;
  --foreground: #172838;
  --font-sans: 'Outfit', sans-serif;
}

@theme {
  --color-tfl-blue: var(--color-tfl-blue);
  --color-tfl-red: var(--color-tfl-red);
  --color-tfl-grey: var(--color-tfl-grey);
  
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
